html {
  scroll-behavior: smooth;
}

.Navbar{
  text-align: center;
  color: #467b5d;
  background-color: #fef2c6;
  justify-content: flex-end;
  font-family: 'Abril Fatface', cursive;
  width: 100%;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 900px);
  height: 810px;
}

.Home{
  background-color: #d76249;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.Image{
  background-image: url(/public/homeimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  margin: 0;

}

.Name{
  font-family: 'Abril Fatface', cursive;
  color: #fef2c6;
  display: flex;
  justify-content: center;
}
.Presentation{
  color: #fef2c6;
  margin-left: 6%;
  margin-right: 6%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px){

  .grid{
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
    background: #d76249;
  }

  .Home{
    height: 590px;
  }
  .Image{
    height: 300px; 
  }
}

.aboutme{
  background-color: #d76249;
  color: #fef2c6;
  height: 450px;
}

.title-aboutme{
  display: flex;
  justify-content: center;
  font-family: 'Abril Fatface', cursive;
}

.aboutme-componentText{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 900px);
  padding-top: 2em;
}


.TextI{
  font-family: 'Abril Fatface', cursive;
  display: flex;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.TextII{
  display: flex;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2em;
}

@media screen and (max-width: 767px){ /*revisar*/
  .aboutme-componentText{
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
  }

  .title-aboutme{
    padding-top: 10em;
  }
  
  .TextI{
    font-family: 'Abril Fatface', cursive;
    margin-left: 6%;
    margin-right: 6%;
  }
  
  .TextII{
    margin-left: 6%;
    margin-right: 6%;
  }
}

#root{
  width: 100%;
}

.title-timeline{
  color: #fef2c6;
  display: flex;
  justify-content: center;
  font-family: 'Abril Fatface', cursive;
}

.timeline{
  background-color: #d76249;
  padding-top: 2em;
}


.timeline-container{
  display: flex;
  flex-direction: column;
}

.timeline-container::after{
  background-color: #fef2c6;
  content: '';
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 33%;
}

.timeline-item{
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  margin: 10px 0;
  width: 50%;
  
}

.timeline-item:nth-child(odd){
  align-self: flex-end ;
  justify-content: flex-start;
  padding-right: 0px;
  padding-left: 30px;
}

.timeline-item-content{
  background-color: #fef2c6;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
  max-width: 70%;
  width: 350px;
  text-align: center;
  position: relative;
}

.timeline-item-content::after{
  content: ' ';
  background-color: #fef2c6; 
  box-shadow: 1px -1px 1px rgba(0,0,0,0.2); 
  position: absolute;
  transform: rotate(45deg);
  right: -7.5px;
  top: calc(50% - 7.5px);
  width: 15px;
  height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content{
  align-items: flex-start;
  text-align: left;
}

.timeline-item:nth-child(odd) .timeline-item-content::after{
  box-shadow: -1px 1px 1px rgba(0,0,0,0.2);
  right: auto;
  left: -7.5px;
}

.timeline-item h1{
  font-family: 'Abril Fatface', cursive;
  color: #467b5d;
  font-size: 20px;
  line-height: 28px;
  margin: 15px 0;
  max-width: 250px;
}

.timeline-item p{
  color: #467b5d;
  font-size: 20px;
  line-height: 28px;
  margin: 15px 0; 
  max-width: 350px;
  text-align: center;
}

.timeline-item-content .circle{
  background-color: #467b5d;
  border: 3px solid #fef2c6;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px;
  width: 20px;
  height: 20px;
  z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle{
  right: auto;
  left: -40px;
}

@media screen and (max-width: 767px){
  .timeline{
    padding-top: 48em;
  }
  .timeline-item-content{
    max-width: 100%;
    width: 650px;
  }

  .timeline-container::after{
    height: 35%;
  }

}

.List{
  background-color: #d76249;
  color: #fef2c6;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 900px);
  align-items: flex-start;
  font-size: 23px;
  padding-left: 15%;
  height: 250px;

}

@media screen and (max-width: 767px){
  .List{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-left: 2.5em;
    height: 100%;
  }
}

.works-title{
  background-color: #d76249;
  color: #fef2c6;
  padding: 5em;
}

.title{
  display: flex;
  justify-content: center;
  font-family: 'Abril Fatface', cursive;
  padding-top: 4em;
}

.subtitle{
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px){
  .works-title{
    text-align: center;
    padding-top: 0em;
  }

}

.works-box{
  background-color: #d76249;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

@media screen and (max-width: 767px){
  .works-box{
    background-color: #d76249;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
  }

  .box1{
    padding-top: 2em;
  }

  .box2{
    padding-top: 2em;
  }

  .box3{
    padding-top: 2em;
  }
}

.box1{
  display: flex;
  justify-content: center;
}

.box2{
  display: flex;
  justify-content: center;
}

.box3{
  display: flex;
  justify-content: center;

}

.Icon{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.contact{
  background-color: #d76249;
  color: #d76249;
  display: flex;
  justify-content: center;
  padding-top: 5em;
}

.contactBox-continer h1{
  display: flex;
  justify-content: center;
  font-family: 'Abril Fatface', cursive;
  font-size: 30px;
  padding: 1em;;
}
.contactBox-continer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 20px;
}

.contact-item{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 20px;
  padding: 1.5em;
}


.itemLink{
  display: flex;
}
